.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(136, 136, 136, 0.575);
    
}
.nav__ul{
    display: flex;
    justify-content:space-between;
   
}

.nav__ul{
    color: #2e363e;
}

.nav__link{
    position: relative;
}

.nav__notification{
    position: absolute;
    left: 20px;
    bottom : 15px;
}

.nav__notification__2{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    color: tomato;
    position: absolute;
    left: 30px;
}

.nav__notification__3{
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    color: tomato;
    position: absolute;
    right: 20px;
    bottom: 50px;
}